::-webkit-scrollbar {
    /* chrome based */
    width: 0px;
    /* ширина scrollbar'a */
    background: transparent;
    /* опционально  */
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    height: 100vh;
}

.background {
    -webkit-mask-image: radial-gradient(#fff, transparent 85%);
    mask-image: radial-gradient(#fff, transparent 85%);
    background-size: 4rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgb(255 255 255 / 0.1)' viewBox='0 0 64 64'%3E%3Cpath d='M64 0H0v64'/%3E%3C/svg%3E");
    background-position: 50%;
    z-index: -10;
    inset: 0;
    position: absolute;
    pointer-events: none;
    animation: slide-background 3s linear infinite;
    height: calc(100vh + 64px)
}


@keyframes slide-background {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateY(-64px);
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    z-index: 5;
    color: white;
}

.conteiner {
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    flex: 1 1 0%;
}

.logo a {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.25rem 0.75rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0.25rem;
    box-shadow: 0 0 0 2px rgba(107, 114, 128, 0.5);
    background-color: rgb(26 27 29 / 90%);
    border-radius: 9999px;
}

.navbar a {
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 500;
    color: #ebebeb;
    transition: all 0.2s ease-in-out;
}

.navbar a:hover {
    padding: 0.25rem 0.75rem;
    background-color: #2f365f;
    color: #ffffff;
}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.login a {
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    transition: all 0.2s;
}

.login a:hover {
    background-color: #2f365f;
}

.container {
    margin: 0 auto;
    display: flex;
    width: 100%
}

.mixer-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 1125px;
    padding-top: 50px;
    flex-wrap: wrap
}

.slogan {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.slogan-container {
    display: block;
    margin: 40px auto 0;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 33px;
    text-align: center;
    color: #fff
}

.slogan-container-sub {
    display: block;
    margin: 10px auto 0;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    font-family: Gotham Pro;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #fff
}

.interest {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
    padding: 20px;
}

.interest-box {
    width: 150px;
    height: 250px;
    background: #1B1821;
    border: 1px solid #4FACFE;
    box-sizing: border-box;
    box-shadow: 0 10px 15px -3px rgba(102, 16, 242, 0.5);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}

.image-container {
    width: 100%;
    height: 100%; 
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.label {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px;
}

.interest-box:hover {
    background: #4FACFE; 
    color: white; 
}

.interest-box.selected {
    background: #03effe;
}

.interest-box.selected .label {
    color: black;
}

.generate-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1
}

.generate-container button {
    z-index: 10;
    transition: all 0.2s ease-in-out;
    background-color: #6610f2;
    font-size: 1.25rem;
    color: #ebebeb;
    font-weight: 500;
    padding: 0.5rem 1.25rem;
    margin:0 10px;
    border-radius: 9999px;
}

.generate-container button:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 15px -3px rgba(102, 16, 242, 0.5);
    color: #ffffff;
}
.difficulty-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Стили для кнопок выбора сложности */

.difficulty-button.easy {
    background-color: #28a745; 
}

.difficulty-button.medium {
    background-color: #ffc107; 
}

.difficulty-button.hard {
    background-color: #dc3545; 
}

/* Тени для каждой сложности */
.difficulty-button.easy:hover {
    box-shadow: 0 4px 6px rgba(40, 167, 69, 0.5); 
}

.difficulty-button.medium:hover {
    box-shadow: 0 4px 6px rgba(255, 193, 7, 0.5); 
}

.difficulty-button.hard:hover {
    box-shadow: 0 4px 6px rgba(220, 53, 69, 0.5); 
}

.difficulty-button.selected {
    border: 2px solid #fff; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
}

