body { 
    font-family: 'Inter', sans-serif; 
    background-color: #0d0d0d; 
    color: #e5e5e5; 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 

.background {
    -webkit-mask-image: radial-gradient(#fff, transparent 85%);
    mask-image: radial-gradient(#fff, transparent 85%);
    background-size: 4rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgb(255 255 255 / 0.1)' viewBox='0 0 64 64'%3E%3Cpath d='M64 0H0v64'/%3E%3C/svg%3E");
    background-position: 50%;
    z-index: -10;
    inset: 0;
    position: absolute;
    pointer-events: none;
}


