::-webkit-scrollbar {
    /* chrome based */
    width: 0px;
    /* ширина scrollbar'a */
    background: transparent;
    /* опционально  */
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    height: 100vh;
}

.background {
    -webkit-mask-image: radial-gradient(#fff, transparent 85%);
    mask-image: radial-gradient(#fff, transparent 85%);
    background-size: 4rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgb(255 255 255 / 0.1)' viewBox='0 0 64 64'%3E%3Cpath d='M64 0H0v64'/%3E%3C/svg%3E");
    background-position: 50%;
    z-index: -10;
    inset: 0;
    position: absolute;
    pointer-events: none;
    animation: slide-background 3s linear infinite;
}


@keyframes slide-background {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateY(-64px);
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    z-index: 5;
    color: white;
}

.conteiner {
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    flex: 1 1 0%;
}

.logo a {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.25rem 0.75rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0.25rem;
    box-shadow: 0 0 0 2px rgba(107, 114, 128, 0.5);
    background-color: rgb(26 27 29 / 90%);
    border-radius: 9999px;
}

.navbar a {
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 500;
    color: #ebebeb;
    transition: all 0.2s ease-in-out;
}

.navbar a:hover {
    padding: 0.25rem 0.75rem;
    background-color: #2f365f;
    color: #ffffff;
}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.login a {
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    transition: all 0.2s;
}

.login a:hover {
    background-color: #2f365f;
}

.preview {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 750px;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1
}

.preview .title {
    font-size: 8rem;
    font-weight: 900;
    z-index: 10;
    color: white
}

.preview .subtitle {
    color: hsla(0, 0%, 100%, .75);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5rem;
    z-index: 10;
}

.preview a {
    z-index: 10;
    transition: all 0.2s ease-in-out;
    background-color: #6610f2;
    font-size: 1.25rem;
    color: #ebebeb;
    font-weight: 500;
    padding: 0.5rem 1.25rem;
    border-radius: 9999px;
}

.preview a:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 15px -3px rgba(102, 16, 242, 0.5);
    color: #ffffff;
}