body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    height: 100vh;
}


.grid-bg { 
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px), 
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px); 
    background-size: 70px 70px; 
} 

header{
    padding: 20px;
}


.navbar {
    background-color: #2a2a2a;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}

.navbar a {
    color: #b0b0b0;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.navbar a.active {
    background-color: #3a3a3a;
    color: #ffffff;
}

.navbar a:hover{
    background-color: #3a3a3a;
    color: #ffffff;
}




.preview {
    height: 500px;
    padding: 30px 0px;
    align-items: center;
}

.preview .text h1 {
    font-family: "Playfair Display", serif;
    font-size: 34px;
    margin-bottom: 10px;
    color: #ffffff;
}

.preview .text p {
    color: #ffffff;
    line-height: 1.5;
}


.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
    border-radius: 50px;
    border: 3px solid white;
    padding: 20px;
    height: 75vh;

}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button button {
    background-color: #3a3a3a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .button button:hover {
    background-color: #2a2a2a;
    transition: 0.3s;
  }
  
  .button button:active {
    background-color: #1c1c1c;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  