
.preview {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.preview .title {
    font-size: 9rem;
    font-weight: 900;
    z-index: 10;
    color: white;
    animation: slide-in-top 4s;
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

.preview .subtitle {
    color: hsla(0, 0%, 100%, .75);
    font-size: 1.5rem;
    margin-bottom: 5rem;
    z-index: 10;
    animation: slide-in-top 4s;
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

.preview a {
    z-index: 10;
    transition: all 0.3s linear;
    background-color: #6610f2;
    font-size: 1.25rem;
    color: #ebebeb;
    padding: 0.5rem 1.25rem;
    /*border-radius: 9999px;*/
    animation: slide-in-bottom 4s;
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    clip-path: polygon(0px 10px, 10px 10px, 10px 0px,
    calc(100% - 10px) 0px, calc(100% - 10px) 10px, 100% 10px,
    100% calc(100% - 10px), calc(100% - 10px) calc(100% - 10px), calc(100% - 10px) 100%,
    10px 100%, 10px calc(100% - 10px), 0px calc(100% - 10px));
    border: rgba(255, 255, 255, 0.5) 10px solid;
}

/*.preview a:hover {*/
/*    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);*/
/*    box-shadow: 0 10px 15px -3px rgba(102, 16, 242, 0.5);*/
/*    color: rgba(0, 0, 0, 0.5)fff;*/
/*}*/

.preview div:hover a:hover {
    filter: brightness(125%);
    /*text-shadow: 2px 0 rgba(0, 0, 0, 0.5), -2px 0 rgba(0, 0, 0, 0.5), 0 2px rgba(0, 0, 0, 0.5), 0 -2px rgba(0, 0, 0, 0.5),*/
    /*1px 1px rgba(0, 0, 0, 0.5), -1px -1px rgba(0, 0, 0, 0.5), 1px -1px rgba(0, 0, 0, 0.5), -1px 1px rgba(0, 0, 0, 0.5);*/
}

.preview div div {
    background-color: rgba(118, 39, 248, 0.5);
    padding: 20px 6px;
    clip-path: polygon(0px 10px, 10px 10px, 10px 0px,
    calc(100% - 10px) 0px, calc(100% - 10px) 10px, 100% 10px,
    100% calc(100% - 10px), calc(100% - 10px) calc(100% - 10px), calc(100% - 10px) 100%,
    10px 100%, 10px calc(100% - 10px), 0px calc(100% - 10px));
    animation: button_animation step-end infinite 3s, slide-in-bottom 4s;
    transition: 0.5s;
}

.preview div {
    filter: drop-shadow(0 0 10px rgba(102, 16, 242, 0.5));
    animation: button_border_animation step-end infinite 3s;
    transition: 0.5s;
}

@keyframes slide-in-top {
    0% {
        translate: 0 -150vh;
        scale: 200% 200%;
    }

    65% {
        translate: 0 3vh;
        scale: 90% 90%;
    }

    100% {
        translate: 0 0;
        scale: 100% 100%;
    }
}

@keyframes slide-in-bottom {
    0% {
        translate: 0 150vh;
        scale: 200% 200%;
    }

    65% {
        translate: 0 -3vh;
        scale: 90% 90%;
    }

    100% {
        translate: 0 0;
        scale: 100% 100%;
    }
}

@keyframes button_animation {
    0% {
        padding: 20px 6px;
    }
    50% {
        padding: 26px 12px;
    }
    100% {
        padding: 26px 12px;
    }
}

@keyframes button_border_animation {
    0% {
        padding: 26px 6px;
    }
    50% {
        padding: 20px 12px;
    }
    100% {
        padding: 20px 12px;
    }
}