::-webkit-scrollbar {
    /* chrome based */
    width: 0px;
    /* ширина scrollbar'a */
    background: transparent;
    /* опционально  */
}

@font-face {
    font-family: PixelText;
    src: url("/static/fonts/determinationrusbylyajka.otf");
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    height: 100vh;
}

.background {
    -webkit-mask-image: radial-gradient(#fff, transparent 85%);
    mask-image: radial-gradient(#fff, transparent 85%);
    background-size: 4rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgb(255 255 255 / 0.1)' viewBox='0 0 64 64'%3E%3Cpath d='M64 0H0v64'/%3E%3C/svg%3E");
    background-position: 50%;
    z-index: -10;
    inset: 0;
    position: absolute;
    pointer-events: none;
    animation: slide-background 3s linear infinite;
    height: calc(100vh + 64px)
}


@keyframes slide-background {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateY(-64px);
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    z-index: 5;
    color: white;
}

.conteiner {
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    flex: 1 1 0%;
}

.logo a {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.25rem 0.75rem;
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0.25rem;
    /*box-shadow: 0 0 0 2px rgba(107, 114, 128, 0.5);*/
    background-color: rgb(26 27 29 / 90%);
    /*border-radius: 9999px;*/
    clip-path: polygon(
            0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px)
    );

}

.navbarBorder {
    display: flex;
    justify-content: space-around;
    padding: 0.2rem;
    background-color: rgba(107, 114, 128, 0.5);
    clip-path: polygon(
            0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px)
    );
}

.navbar a {
    padding: 0.25rem 0.75rem;
    /*border-radius: 9999px;*/
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 500;
    color: #ebebeb;
    transition: all 0.2s ease-in-out;
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    clip-path: polygon(
            0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px)
    );

}

.navbar a:hover {
    padding: 0.25rem 0.75rem;
    background-color: #2f365f;
}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.login a {
    padding: 0.25rem 0.75rem;
    /*border-radius: 9999px;*/
    transition: all 0.2s;
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    clip-path: polygon(
            0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px)
    );

}

.login a:hover {
    background-color: #2f365f;
}

.profile-container {
    max-width: 1280px;
    /*margin: 50px auto;*/
    padding: 20px;
    /*border-radius: 10px;*/
    color:white;
    box-shadow: 0 0 0 2px rgba(107, 114, 128, 0.5);
    background-color: rgb(26 27 29 / 90%);
    /*backdrop-filter: blur(10px);*/
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    clip-path: polygon(
            0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px)
    );
}

.profile-container-container {
    max-width: 1280px;
    margin: 50px auto;
    background-color: rgba(107, 114, 128, 0.5);
    clip-path: polygon(
            0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px)
    );
    padding: 0.2rem;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /*border-bottom: 1px solid rgb(99 102 241 / 0.6);*/
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-info {
    margin-left: 20px;
}

.profile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff; /* Цвет заголовка */
}

.profile-info p {
    font-size: 18px;
    color: #cccccc; 
}

.logout{
    /*border-radius: 9999px;*/
    /*box-shadow: 0 0 0 2px rgba(107, 114, 128, 0.5);*/
    background-color: rgba(107, 114, 128, 0.5);
    transition: 0.3s;
    padding: 0.2rem;
    clip-path: polygon(
            0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px)
    );
}

.logout a {
    display: flex;
    padding: 0.1rem 0.75rem;
    /*border-radius: 9999px;*/
    transition: 0.2s;
    /*background-color: rgb(26 27 29 / 90%);*/
    clip-path: polygon(
            0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px)
    );
}

.indentation {
    padding: 0.25rem;
    background-color: rgb(26 27 29 / 90%);
    clip-path: polygon(
            0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px)
    );
}

.logout a:hover {
    transition: 0.2s;
    background-color: #5f2f2f;
}

.profile-stats {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.stat {
    width: 33.33%;
    text-align: center;
}

.stat h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.stat p {
    font-size: 24px;
}

.profile-interests {
    padding: 20px;
}

.profile-interests h2{
    font-size: 30px;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

.interests-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}

.interest-box {
    width: 150px;
    height: 250px;
    background: #1B1821;
    /*border: 1px solid rgb(99 102 241 / 0.6);*/
    box-sizing: border-box;
    box-shadow: 0 10px 15px -3px rgb(99 102 241 / 0.6);
    /*border-radius: 10px;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
    clip-path: polygon(
            0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px)
    );
}

.interest-box-border {
    background-color: #4FACFE;
    clip-path: polygon(
            0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px)
    );
    padding: 0.1rem;
}

.interest-box-shadow {
    filter: drop-shadow(0px 5px 40px rgba(99, 102, 241, 0.6))
}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.label {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px;
}

.interest-box.selected {
    background: #03effe;
    color: white;
}

.interest-box.selected .label {
    color: black;
}

.events h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff; /* Цвет заголовка */
}

.task-list {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
}

.task-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px; 
    margin: 10px 0; 
    border-radius: 8px; 
    transition: transform 0.3s, background-color 0.3s; 
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    clip-path: polygon(
            0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px)
    );
}

.task-date {
    font-size: 14px;
    color: #cccccc; /* Цвет даты */
    margin-left: 10px; /* Отступ от задания */
}

.task-item:hover {
    transform: scale(1.02); 
    background-color: rgba(255, 255, 255, 0.2); 

}