body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    height: 100vh;
}

.background {
    -webkit-mask-image: radial-gradient(#fff, transparent 85%);
    mask-image: radial-gradient(#fff, transparent 85%);
    background-size: 4rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgb(255 255 255 / 0.1)' viewBox='0 0 64 64'%3E%3Cpath d='M64 0H0v64'/%3E%3C/svg%3E");
    background-position: 50%;
    z-index: -10;
    inset: 0;
    position: absolute;
    pointer-events: none;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    z-index: 5;
    color: white;
}

.conteiner {
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    flex: 1 1 0%;
}

.logo a {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.25rem 0.75rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0.25rem;
    box-shadow: 0 0 0 2px rgba(107, 114, 128, 0.5);
    /* box-shadow: 0 0 0 2px #334155; */
    background-color: rgb(26 27 29 / 90%);
    border-radius: 9999px;
}

.navbar a {
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 500;
    color: #ebebeb;
    transition: all 0.2s ease-in-out;
}

.navbar a:hover {
    padding: 0.25rem 0.75rem;
    background-color: #2f365f;
    color: #ffffff;
}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.login a {
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    transition: all 0.2s ease-linear;
}

.login a:hover {
    background-color: #2f365f;
}

.profile-container {
    max-width: 1280px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2a2a2a75; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    color:white;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #4FACFE;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-info {
    margin-left: 20px;
}

.profile-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff; /* Цвет заголовка */
}

.profile-info p {
    font-size: 18px;
    color: #cccccc; 
}

.logout{
    background-color: rgb(26 27 29 / 90%);
    border-radius: 9999px;
    border: 1px solid white;
    padding: 10px;
    
}

.profile-stats {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.stat {
    width: 33.33%;
    text-align: center;
}

.stat h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.stat p {
    font-size: 24px;
    font-weight : bold;
}

.profile-interests {
    padding: 20px;
}

.profile-interests h2{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.interests-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}

.interest-box {
    width: 150px;
    height: 250px;
    background: #1B1821;
    border: 1px solid #4FACFE;
    box-sizing: border-box;
    box-shadow: 0 10px 15px -3px rgba(102, 16, 242, 0.5);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.label {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px;
}

.interest-box.selected {
    background: #03effe;
    color: white;
}

.interest-box.selected .label {
    color: black;
}