.profile-container {
    max-width: 1280px;
    /*margin: 50px auto;*/
    padding: 20px;
    /* padding-top: 0; */
    /*border-radius: 10px;*/
    color: white;
    box-shadow: 0 0 0 2px rgba(107, 114, 128, 0.5);
    background-color: rgb(26 27 29 / 90%);
    /*backdrop-filter: blur(10px);*/
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    clip-path: polygon(0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px));
}

.profile-container-container {
    max-width: 1280px;
    margin: 50px auto;
    background-color: rgba(107, 114, 128, 0.5);
    clip-path: polygon(0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px));
    padding: 0.2rem;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.profile-image {
    min-width: 100px;
    max-width: 150px;
    margin: 0 auto;

    /* Рамка */
    background-color: #fff;
    padding: 0.2rem;
    clip-path: polygon(0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px, calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px, 100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%, 10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px));
}

.profile-image img {
    width: 100%;

    object-fit: cover;
    aspect-ratio: 1 / 1;
    /* border-radius: 50%; */
    clip-path: polygon(0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px, calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px, 100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%, 10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px));
}

.profile-info {
    margin-left: 20px;
}

.profile-info h2 {
    font-size: 24px;
    color: #fff;
    /* Цвет заголовка */
    text-align: center;
}

.profile-info p {
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

/* @media(max-width: 450px){
    .profile-info p{
        max-width: ;
    }
} */

.logout {
    background-color: rgba(107, 114, 128, 0.5);
    transition: 0.3s;
    padding: 0.2rem;
    clip-path: polygon(0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px));
}

.logout a {
    /* display: flex; */
    padding: 0.1rem 0.75rem;
    transition: 0.2s;
    clip-path: polygon(0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px));
}

.indentation {
    font-size: 19px;
    padding: 0.25rem;
    background-color: rgb(26 27 29 / 90%);
    clip-path: polygon(0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px));

}

.logout a:hover {
    transition: 0.2s;
    background-color: #9e2424;
}

.btns-mobile-ver {
    display: none;
    /* width: 83px; */
    /* margin-left: auto; */
    /* margin-top: 20px; */

    color: #fff;
    font-size: 16px;
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

@media (width <=768px) {
    .btns-mobile-ver {
        display: block !important;
    }

}

.username-full-ver {
    display: block;
    padding: 0 20px;
    font-size: 24px;
    color: #ffffff;
}

.username-mobile-ver {
    display: none;
    padding: 0 20px;
    font-size: 24px;
    color: #ffffff;
}

@media (width <=572px) {
    .username-full-ver {
        display: none !important;
    }

    .username-mobile-ver {
        display: block !important;
        padding: 0 0;
        font-size: 20px;
    }
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.stat {
    text-align: center;
}

.stat h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.stat p {
    font-size: 24px;
}

.profile-interests {
    padding: 20px 0px;
}

.profile-interests h2 {
    font-size: 30px;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    text-align: center;
    margin-bottom: 20px;
}

@media(max-width: 450px) {
    .profile-interests h2 {
        font-size: 24px;
    }
}

.interests-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* @media(max-width: 450px){
    .interests-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
} */

.interest-box {
    width: 150px;
    height: 250px;
    background: #1B1821;
    /*border: 1px solid rgb(99 102 241 / 0.6);*/
    box-sizing: border-box;
    box-shadow: 0 10px 15px -3px rgb(99 102 241 / 0.6);
    /*border-radius: 10px;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s;
    clip-path: polygon(0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px));
}

.interest-box-border {
    background-color: #4FACFE;
    clip-path: polygon(0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px));
    padding: 0.1rem;
}

.interest-box-shadow {
    filter: drop-shadow(0px 5px 40px rgba(99, 102, 241, 0.6))
}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.label {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px;
}

.interest-box.selected {
    background: #03effe;
    color: white;
}

.interest-box.selected .label {
    color: black;
}

.events {
    padding: 20px 0;
}

.events h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    /* Цвет заголовка */
    text-align: center;
}

.p-rating {
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
}

@media(max-width: 450px) {
    .events h2 {
        font-size: 24px;
    }
}

.task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.task-item {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    transition: transform 0.3s, background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    clip-path: polygon(0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px));
}

@media(max-width: 450px) {
    .task-item {
        text-align: center;
        font-size: 14px;
    }

    .task-date {
        font-size: 14px !important;
    }
}

.task-date {
    font-size: 16px;
    color: #ebebeb;
    /* Цвет даты */
    margin-left: 13px;
    /* Отступ от задания */
}

.task-item:hover {
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.2);

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-out;
}


.modal.open {
    visibility: visible;
    z-index: 100;
    opacity: 1;

}

.modal .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 0;
    cursor: pointer;
}

.modal-window {
    position: relative;
    z-index: 101;
    width: 475px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    padding: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    clip-path: polygon(0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px));
}

.modal-window-border {
    background-color: #4FACFE;
    clip-path: polygon(0px 10px, 5px 10px, 5px 5px, 10px 5px, 10px 0px,
            calc(100% - 10px) 0px, calc(100% - 10px) 5px, calc(100% - 5px) 5px, calc(100% - 5px) 10px, 100% 10px,
            100% calc(100% - 10px), calc(100% - 5px) calc(100% - 10px), calc(100% - 5px) calc(100% - 5px), calc(100% - 10px) calc(100% - 5px), calc(100% - 10px) 100%,
            10px 100%, 10px calc(100% - 5px), 5px calc(100% - 5px), 5px calc(100% - 10px), 0px calc(100% - 10px));
    padding: 0.1rem;
}

.modal-window-shadow {
    filter: drop-shadow(0px 5px 40px rgba(99, 102, 241, 0.6));
    position: relative;
    display: inline-block;
}

.btn-close {
    position: absolute;
    right: 25px;
    top: 15px;
    border: none;
    opacity: 0.3;
    cursor: pointer;
    font-family: PixelText, normal;
    font-size: 1.4rem;
}

.btn-close:hover {
    opacity: 1;
}

.modal-window h3 {
    text-align: center;
    /* font-size: 20px; */
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-family: PixelText, normal;
}

.modal-window label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #c0c0c0;
}

.modal-window input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: PixelText, normal;
}

.modal-window input[type="file"]:hover {
    background-color: #444;
}

.modal-window textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333;
    color: white;
    font-size: 0.9rem;
    font-family: PixelText, normal;
    resize: none;
}

.modal-window textarea::placeholder {
    color: #bbb;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-buttons button {
    padding: 5px 20px;
    width: 47.5%;
    border: none;
    background-color: rgba(33, 195, 76, 0.8);
    color: white;
    font-size: 0.9rem;
    font-family: PixelText, normal;
    border-radius: 5px;
    cursor: pointer;
}

.modal-buttons button.modal-close {
    background-color: #9e2424;
}

@media (max-width: 450px) {
    .modal-window {
        width: 100%;
        max-width: 25rem;
        min-width: 21rem;
    }

    .modal {
        padding-left: 8px;
        padding-right: 8px;
    }

    .modal-window h3 {
        font-size: 1rem;
    }

    .upload-image label {
        font-size: 0.85rem !important;
    }

    .image-description label {
        font-size: 0.85rem !important;
    }
}

.upload-image label {
    font-family: PixelText, normal;
    font-size: 1rem;
    color: white;
}

.image-description label {
    font-family: PixelText, normal;
    font-size: 1rem;
    color: white;
}

.task-easy {
    color: green;
    border-left: 5px solid green;
    padding-left: 10px;
}

.task-medium {
    color: orange;
    border-left: 5px solid orange;
    padding-left: 10px;
}

.task-hard {
    color: red;
    border-left: 5px solid red;
    padding-left: 10px;
}