.profile-container {
    max-width: 1280px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    color:white;
    box-shadow: 0 0 0 2px rgba(107, 114, 128, 0.5);
    background-color: rgb(26 27 29 / 10%);
    backdrop-filter: blur(10px);
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(99 102 241 / 0.6);
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-info {
    margin-left: 20px;
}

.profile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff; /* Цвет заголовка */
}

.profile-info p {
    font-size: 18px;
    color: #cccccc; 
}

.logout{
    border-radius: 9999px;
    /*padding: 10px;*/
    box-shadow: 0 0 0 2px rgba(107, 114, 128, 0.5);
    background-color: rgb(26 27 29 / 90%);
    transition: 0.3s;
    padding: 0.25rem;
}

.logout a {
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    transition: 0.2s;
}

.logout a:hover {
    transition: 0.2s;
    background-color: #5f2f2f;
}

.profile-stats {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.stat {
    width: 33.33%;
    text-align: center;
}

.stat h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.stat p {
    font-size: 24px;
}

.profile-interests {
    padding: 20px;
}

.profile-interests h2{
    font-size: 30px;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

.interests-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}

.interest-box {
    width: 150px;
    height: 250px;
    background: #1B1821;
    border: 1px solid rgb(99 102 241 / 0.6);
    box-sizing: border-box;
    box-shadow: 0 10px 15px -3px rgb(99 102 241 / 0.6);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.label {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px;
}

.interest-box.selected {
    background: #03effe;
    color: white;
}

.interest-box.selected .label {
    color: black;
}

.events h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff; /* Цвет заголовка */
}

.task-list {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
}

.task-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px; 
    margin: 10px 0; 
    border-radius: 8px; 
    transition: transform 0.3s, background-color 0.3s; 
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-date {
    font-size: 14px;
    color: #cccccc; /* Цвет даты */
    margin-left: 10px; /* Отступ от задания */
}

.task-item:hover {
    transform: scale(1.02); 
    background-color: rgba(255, 255, 255, 0.2); 

}