.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 0 2px rgba(107, 114, 128, 0.5);
    background-color: rgb(26 27 29 / 10%);
    backdrop-filter: blur(10px);
    font-family: PixelText, normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

input{
    color:black;
}

.rounded-img-input {
    width: 100px;
    height: 100px;
    object-fit: cover; 
    border-radius: 50%;
    border: 2px solid #ccc;
}

.hidden {
    display: none;
}