{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
    <link rel="stylesheet" href="{% static 'src/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>

<body>
    <header class="conteiner">
        <div class="logo">
            <a href="{% url 'main' %}"> AFK</a>
        </div>
        <div class="navbar">
            <a href="{% url 'main' %}">Home</a>
            <a href="{% url 'events' %}">Events</a>
            <a href="#">Top</a>
            <a href="">Other</a>
        </div>
        <div class="login">
            {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <a href="{% url 'admin/users' %}"> Admin </a>
            {% endif %}
            <a href="{% url 'profile' user.id %}"> Profile </a>
            {% else %}
            <a href="{% url 'login' %}"> Sign in </a>
            {% endif %}
        </div>
    </header>
    <div class="container">
        <div class="slogan">
            <div class="slogan-container"><span>Выбирайте ваши любимые <span style="
                background: linear-gradient(90deg, #6610f2, #4FACFE);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 10px;">интересы</span> и
                    находите для себя новые занятия!</span>
            </div>
            <div class="slogan-container-sub"> Найдите, чем заняться в одиночку, в паре или компании. </div>
        </div>
    </div>
    <div class="interest">
        <div class="interest-box" data="Sport" onclick="selectBox(this)">
            <div class="image-container">
                <img src="https://avatars.mds.yandex.net/i?id=bfb7c3961115b4fb0200f3e43d5287fd_l-4575978-images-thumbs&n=13"
                    alt="Sport">
            </div>
            <div class="label">Sport</div>
        </div>
        <div class="interest-box" data="Creative" onclick="selectBox(this)">
            <div class="image-container">
                <img src="https://avatars.mds.yandex.net/i?id=73aa7bee9641f1d37382e5813e3841bf_l-4575585-images-thumbs&n=13"
                    alt="Creative">
            </div>
            <div class="label">Creative</div>
        </div>
        <div class="interest-box" data="Technology" onclick="selectBox(this)">
            <div class="image-container">
                <img src="https://avatars.mds.yandex.net/i?id=743664af1475046ddf9fe5149eeee155_l-9065887-images-thumbs&n=13"
                    alt="Technology">
            </div>
            <div class="label">Technology</div>
        </div>
        <div class="interest-box" data="Travel" onclick="selectBox(this)">
            <div class="image-container">
                <img src="https://avatars.mds.yandex.net/i?id=110c7b87efe45840e086b15e588bf5a8015a2964-9138191-images-thumbs&n=13"
                    alt="Travel">
            </div>
            <div class="label">Travel</div>
        </div>
        <div class="interest-box" data="Food" onclick="selectBox(this)">
            <div class="image-container">
                <img src="https://cdn.culture.ru/images/44f9c8a1-a9c7-5da6-b7b7-cb57970aaf6c" alt="Food">
            </div>
            <div class="label">Food</div>
        </div>

    </div>

    <div class="generate-container">
        <div class="difficulty-selection">
            <button class="difficulty-button easy" onclick="selectDifficulty('easy')">Легкая</button>
            <button class="difficulty-button medium" onclick="selectDifficulty('medium')">Средняя</button>
            <button class="difficulty-button hard" onclick="selectDifficulty('hard')">Сложная</button>
        </div>
        <button class="generate-container-button" id="open-modal-btn">Сгенерировать занятие</button>
    </div>
    <div class="conteiner">
        <div class="slogan-container">
            <h1>Список последних сгенерированных занятий:</h1>
        </div>
        <ul class="spisok" id="spisok">

        </ul>
    </div>


    <div
        class="-z-10 pointer-events-none absolute inset-0 bg-center bg-grid-white/10 bg-grid-16 [mask-image:radial-gradient(white,transparent_85%)]">
    </div>
    <div
        class="-z-10 absolute -top-8 left-1/2 size-72 -translate-x-1/2 rounded-full bg-indigo-500/25 blur-[120px] lg:-top-8 lg:size-[32rem] lg:blur-[200px]">
    </div>
    <div class="background"></div>

    <div class="modal" id="my-modal">
        <div class="modal-window">
            <h2 class="modal-title">Сгенерированная Идея</h2>
            <div class="idea">
                <p id="description" class="idea-description">Это отличная возможность провести время с друзьями и насладиться атмосферой спортивного события!</p>
            </div>
            <div class="img">
                <img src="{% static 'images/like.png' %}" alt="Like" width="30%">
                <button id="open-modal-btn">
                    <img src="{% static 'images/reload.png' %}" alt="Reload" width="90px">
                </button>
                <img src="{% static 'images/dislike.png' %}" alt="Dislike" width="30%">
            </div>
            <div class="modal-window-close">
                <button class="btn-close" id="close-modal-btn">X</button>
            </div>
        </div>
        <div class="overlay"></div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function getCookieForCsrf(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    const csrftoken = getCookieForCsrf('csrftoken'); // Получаем CSRF токен
    
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
      }
  
    function setCookie(name, value, days) {
        const date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000)); // Устанавливаем срок истечения куки (в днях)
        const expires = `; expires=${date.toUTCString()}`;
        document.cookie = `${name}=${value || ""}${expires}; path=/`;
    }

    function deleteCookie(name) {
        document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }
  
      // Открытие модального окна
    const modalButtons = document.querySelectorAll('#open-modal-btn');
    modalButtons.forEach(button => {
        button.addEventListener('click', () => {
            let title = button.getAttribute('data-title')
            let last_generationsCookie = getCookie('last_generations');
            if (last_generationsCookie) {
                // Если кука существует, парсим ее как JSON
                last_generationsCookie = JSON.parse(last_generationsCookie);
            } else {
                // Если кука не существует, задаем значение по умолчанию
                last_generationsCookie = [];
            }
            let interestsCookie = getCookie('interests');
            if (interestsCookie) {
                interestsCookie = JSON.parse(interestsCookie);
            }
            else{
                interestsCookie = [];
            }
            let difficultyCookie = getCookie('difficulty');
            if (difficultyCookie) {
                difficultyCookie = JSON.parse(difficultyCookie);
            }
            else{
                difficultyCookie = [];
            }
            $.ajax({
                url: 'generation/',
                method: 'GET',
                contentType: 'application/json',
                data: {
                    'interests': JSON.stringify(interestsCookie),
                    'difficulty': JSON.stringify(difficultyCookie),
                    'last_generations': JSON.stringify(last_generationsCookie)
                },
                headers: {
                    'X-CSRFToken': csrftoken  // Добавляем CSRF токен в заголовки запроса
                },
                success: function(response) {
                    const spisokElement = document.getElementById('spisok');

                    last_generationsCookie.unshift(response.completed_task);
                    if (last_generationsCookie.length > 10){
                        last_generationsCookie.pop();
                        spisokElement.lastElementChild.remove();
                    }
                    setCookie('last_generations', JSON.stringify(last_generationsCookie), 3650);

                    for (const [key, description] of Object.entries(response.completed_task)) {
                        const li = document.createElement('li');
                        li.innerHTML = `<h2>${key}</h2><p>${description}</p><button>Узнать больше</button>`;
                        spisokElement.insertBefore(li, spisokElement.firstChild);
                    }

                    const description_idea = document.getElementById('description');
                    const taskId = Object.keys(response.completed_task)[0];
                    description_idea.textContent = response.completed_task[taskId];
                    document.getElementById("my-modal").classList.add("open");
                },
            });
        });
    });

    // Закрытие модального окна по крестику
    document.getElementById("close-modal-btn").addEventListener("click", function () {
        document.getElementById("my-modal").classList.remove("open")
    })

    // Закрытие модального окна при нажатии на Esc
    window.addEventListener('keydown', (e) => {
        if ((e.key) === "Escape") {
            document.getElementById("my-modal").classList.remove("open")
        }
    });

    // Закрытие модального окна при клике вне его
    document.querySelector("#my-modal .modal-window").addEventListener('click', event => {
        event._isClickWithInModal = true;
    });
    document.getElementById("my-modal").addEventListener('click', event => {
        if (event._isClickWithInModal) return;
        event.currentTarget.classList.remove('open');
    });
    
    function selectDifficulty(difficulty) {
        // Получаем куку с уровнем сложности
        const difficultyCookie = getCookie('difficulty');
        let myDictFromCookie;
    
        // Если кука существует, парсим ее как массив; если нет, создаем пустой массив
        if (difficultyCookie) {
            myDictFromCookie = JSON.parse(difficultyCookie);
        } else {
            myDictFromCookie = [];
        }
    
        // Ссылка на кнопку для изменения класса
        const selectedButton = document.querySelector(`.difficulty-button.${difficulty}`);
    
        // Проверяем, есть ли выбранная сложность в куке
        if (myDictFromCookie.includes(difficulty)) {
            // Если есть, удаляем класс 'selected' у кнопки и удаляем значение из массива
            selectedButton.classList.remove('selected');
            myDictFromCookie = myDictFromCookie.filter(item => item !== difficulty);
        } else {
            // Если нет, добавляем класс 'selected' и добавляем сложность в массив
            selectedButton.classList.add('selected');
            myDictFromCookie.push(difficulty);
        }
    
        // Преобразуем массив обратно в строку JSON и сохраняем в куку
        const myDictFromCookieStr = JSON.stringify(myDictFromCookie);
        setCookie('difficulty', myDictFromCookieStr, 3650); 
    }
    
    function selectBox(box) {
      // Toggle класс selected для выбранного блока
      box.classList.toggle('selected');

      const interestsCookie = getCookie('interests');
      if (interestsCookie) {
          // Если кука существует, парсим ее как JSON
          myDictFromCookie = JSON.parse(interestsCookie);
      } else {
          // Если кука не существует, задаем значение по умолчанию
          myDictFromCookie = []; // Или любое другое значение по умолчанию
      }

      const boxValue = box.getAttribute('data'); // Получаем уникальный id
      if (myDictFromCookie.includes(boxValue)) {
          myDictFromCookie = myDictFromCookie.filter(element => element !== boxValue);
      } else {
          myDictFromCookie.push(boxValue);
      }

      const myDictFromCookieStr = JSON.stringify(myDictFromCookie);
      setCookie('interests', myDictFromCookieStr, 3650);
    }
    document.addEventListener('DOMContentLoaded', function() {
        const interestsCookie = getCookie('interests');
        let last_generationsCookie = getCookie('last_generations');
            if (last_generationsCookie) {
                // Если кука существует, парсим ее как JSON
                last_generationsCookie = JSON.parse(last_generationsCookie);
            } else {
                // Если кука не существует, задаем значение по умолчанию
                last_generationsCookie = [];
            }
        let myDictFromCookieInterests = [];

        if (interestsCookie) {
            myDictFromCookieInterests = JSON.parse(interestsCookie);
        }

        const difficultyCookie = JSON.parse(getCookie('difficulty') || '[]');

        // Получаем все кнопки с классом .difficulty-button
        const selectedButtons = document.querySelectorAll('.difficulty-button');

        // Перебираем все кнопки
        selectedButtons.forEach(button => {
            // Для каждой кнопки проверяем, содержится ли ее класс в массиве из куки
            if (difficultyCookie.includes(button.classList[1])) {  // Второй класс в button - это название сложности
                button.classList.add('selected');  // Если найдено совпадение, добавляем класс
            } else {
                button.classList.remove('selected');  // Если не найдено - убираем класс
            }
        });

        // Ищем все элементы с классом 'box'
        const boxes = document.querySelectorAll('.interest-box');

        boxes.forEach(box => {
            const boxValue = box.getAttribute('data');
            if (myDictFromCookieInterests.includes(boxValue)) {
                box.classList.add('selected'); // Добавляем класс, если идентификатор есть в куке
            }
        });

        const spisokElement = document.getElementById('spisok');
        last_generationsCookie.forEach(item => {
            for (const [key, description] of Object.entries(item)) {
                const li = document.createElement('li');
                li.innerHTML = `<h2>${key}</h2><p>${description}</p><button>Узнать больше</button>`;
                spisokElement.appendChild(li);
            }
        });
    });
</script>

</html>