{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
    <title>Document</title>
</head>
<style>

</style>

<body>
    <div class="bg-gray-800 p-8 rounded-lg shadow-md w-full max-w-md">
        <div class="flex justify-center mb-6">
            <a href="{% url 'main' %}"><img alt="Logo" class="h-12" src="{% static 'images/logo.png' %}" width="50"
                    height="50" /></a>
        </div>
        <h2 class="text-center text-2xl font-semibold text-white mb-6"> Восстановление аккаунта </h2>
        <form id="forgot-password-form" class="space-y-6">
            <div>
                <label class="block text-sm font-medium text-gray-300" for="email">Введите email от вашего
                    аккаунта</label>
                <input
                    class="mt-1 block w-full px-3 py-2 border border-gray-600 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm bg-gray-700 text-white"
                    id="email" name="email" required="" type="email" value=""/>
            </div>
            <div id="code-input-container" style="display: none;">
                <label class="block text-sm font-medium text-gray-300" for="code">Введите код, который пришел Вам на
                    почту</label>
                <input
                    class="mt-1 block w-full px-3 py-2 border border-gray-600 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm bg-gray-700 text-white"
                    id="code" name="code" value=""/>
            </div>
            <div id="password_div" style="display: none">
                <label class="block text-sm font-medium text-gray-300" for="">Введите новый пароль</label>
                <input
                    class="mt-1 block w-full px-3 py-2 border border-gray-600 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm bg-gray-700 text-white"
                    type="password" id="password1" name="password1" value="">
                <label class="block text-sm font-medium text-gray-300" for="">Повтор нового пароля</label>
                <input
                    class="mt-1 block w-full px-3 py-2 border border-gray-600 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm bg-gray-700 text-white"
                    type="password" id="password2" name="password2" value="">
            </div>
            <div>
                <button
                    class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    type="submit" id="open-modal-btn">
                    Продолжить
                </button>
            </div>
            <div class="flex items-center justify-center flex-col"> 
                <label class="ml-2 block text-sm text-red-500" id="response-message">
                    
                </label>
            </div>
        </form>
    </div>
    <div
        class="-z-10 pointer-events-none absolute inset-0 bg-center bg-grid-white/10 bg-grid-16 [mask-image:radial-gradient(white,transparent_85%)]">
    </div>
    <div
        class="-z-10 absolute -top-8 left-1/2 size-72 -translate-x-1/2 rounded-full bg-indigo-500/25 blur-[120px] lg:-top-8 lg:size-[32rem] lg:blur-[200px]">
    </div>
    <div class="background"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Функция для получения CSRF токена
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        const csrftoken = getCookie('csrftoken'); // Получаем CSRF токен

        function handlePasswordSubmit(event){
            event.preventDefault();
            const responseMessageElement = document.getElementById('response-message');
            const emailInput = document.getElementById('email');
            const password1Input = document.getElementById('password1');
            const password2Input = document.getElementById('password2');
            const email = emailInput.value;
            const password1 = password1Input.value;
            const password2 = password2Input.value;

            $.ajax({
                url: 'submit_form/',
                method: 'POST',
                data: {
                    'email': email,
                    'password1': password1,
                    'password2': password2
                },
                headers: {
                    'X-CSRFToken': csrftoken  // Добавляем CSRF токен в заголовки запроса
                },
                success: function(response) {
                    window.location.href = response.redirect_url;
                },
                error: function(xhr) {
                    responseMessageElement.className = "ml-2 block text-sm text-red-500";
                    responseMessageElement.textContent = xhr.responseJSON.message;
                }
            });
        }

        function handleCodeSubmit(event){
            event.preventDefault();
            const responseMessageElement = document.getElementById('response-message');
            const emailInput = document.getElementById('email');
            const codeInput = document.getElementById('code');
            const password1Input = document.getElementById('password1');
            const password2Input = document.getElementById('password2');
            const email = emailInput.value;
            const code = codeInput.value;

            $.ajax({
                url: 'submit_form/',
                method: 'POST',
                data: {
                    'email': email,
                    'code': code
                },
                headers: {
                    'X-CSRFToken': csrftoken  // Добавляем CSRF токен в заголовки запроса
                },
                success: function(response) {
                    const Form = document.getElementById('forgot-password-form');
                    Form.removeEventListener('submit', handleCodeSubmit);
                    Form.addEventListener('submit', handlePasswordSubmit);
                    document.getElementById('password_div').style.display = 'block';
                    password1Input.required = true;
                    password2Input.required = true;
                    codeInput.style.opacity = '0.5';
                    codeInput.disabled = true;
                    responseMessageElement.className = "ml-2 block text-sm text-green-500";
                    responseMessageElement.textContent = response.message;
                },
                error: function(xhr) {
                    responseMessageElement.className = "ml-2 block text-sm text-red-500";
                    responseMessageElement.textContent = xhr.responseJSON.message;
                }
            });
        }
        
        function handleEmailSubmit(event){
            event.preventDefault();
            const responseMessageElement = document.getElementById('response-message');
            const emailInput = document.getElementById('email');
            const codeInput = document.getElementById('code');
            const email = emailInput.value;

            $.ajax({
                url: 'submit_form/',
                method: 'POST',
                data: {
                    'email': email
                },
                headers: {
                    'X-CSRFToken': csrftoken  // Добавляем CSRF токен в заголовки запроса
                },
                success: function(response) {
                    const Form = document.getElementById('forgot-password-form');
                    Form.removeEventListener('submit', handleEmailSubmit);
                    Form.addEventListener('submit', handleCodeSubmit);
                    document.getElementById('code-input-container').style.display = 'block';
                    codeInput.required = true;
                    emailInput.style.opacity = '0.5';   
                    emailInput.disabled = true;
                    responseMessageElement.className = "ml-2 block text-sm text-green-500";
                    responseMessageElement.textContent = response.message;
                },
                error: function(xhr) {
                    responseMessageElement.textContent = xhr.responseJSON.message;
                }
            });
        }

        document.getElementById('forgot-password-form').addEventListener('submit', handleEmailSubmit);
    </script>
</body>

</html>