{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'src/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>

<body>
<header class="conteiner">
    <div class="logo">
        <a href="{% url 'main' %}"> AFK</a>
    </div>
    <div class="navbarBorder">
        <div class="navbar">
            <a href="{% url 'main' %}">Home</a>
            <a href="{% url 'events' %}">Events</a>
            <a href="#">Top</a>
            <a href="">Other</a>
        </div>
    </div>
    
    <div class="login">
        <div class="notification" onclick="toggleNotificationMenu()">
            <i class="fas fa-bell"></i>
            <div class="notification-menu" id="notificationMenu">
                <div class="notification-item">Уведомление 1</div>
                <div class="notification-item">Уведомление 2</div>
                <div class="notification-item">Уведомление 3</div>
            </div>
        </div>
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <a href="{% url 'admin/users' %}"> Admin </a>
        {% endif %}
        <a href="{% url 'profile' user.id %}"> Profile </a>
        {% else %}
        <a href="{% url 'login' %}"> Sign in </a>
        {% endif %}
    </div>
</header>
<div class="preview">
    <p class="title"> AFK </p>
    <p class="subtitle"> Find something you like to do</p>
    <div>
        <div>
            <a href="{% url 'events' %}"> Get Started </a>
        </div>
    </div>
</div>

<div
        class="-z-10 pointer-events-none absolute inset-0 bg-center bg-grid-white/10 bg-grid-16 [mask-image:radial-gradient(white,transparent_85%)]">
</div>
<div
        class="-z-10 absolute -top-8 left-1/2 size-72 -translate-x-1/2 rounded-full bg-indigo-500/25 blur-[120px] lg:-top-8 lg:size-[32rem] lg:blur-[200px]">
</div>
<div class="background"></div>
</body>

<script>
    function toggleNotificationMenu() {
        const menu = document.getElementById('notificationMenu');
        menu.classList.toggle('active');
    }

    // Закрытие меню при клике вне его
    window.onclick = function(event) {
        if (!event.target.matches('.notification') && !event.target.matches('.notification i')) {
            const menu = document.getElementById('notificationMenu');
            if (menu.classList.contains('active')) {
                menu.classList.remove('active');
            }
        }
    }
</script>

</html>