{% extends 'base.html' %}
{% load static %}

{% block title %}
  Profile
{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block content %}
  <div class="profile-container-container">
    <div class="profile-container">
      <div>
        <div class="grid grid-cols-2 gap-3">

          {% if user.id == user_id %}
          <div class="flex-1 logout btns-mobile-ver container">
            <div class="indentation text-center">
              <a href="{% url 'settings' user.id %}"><button>Настройки</button></a>
            </div>
          </div>
          {% endif %}

          {% if user.id == user_id %}
          <div class="flex-1 logout btns-mobile-ver container">
            <div class="indentation text-center">
              <!-- ПОКА НЕ РАБОТАЕТ -->
              <button class="dropbtn">
                Уведомления
              </button>
            </div>
          </div>
          {% endif %}

          {% if user.id == user_id %}
            <div class="flex-1 logout btns-mobile-ver container">
              <div class="indentation text-center">
                <a href="{% url 'logout' user.id %}"><button>Выйти</button></a>
              </div>
            </div>
          {% endif %}
          
          {% if user.id == user_id %}
          {% if user.is_superuser %}
            <div class="flex-1 logout btns-mobile-ver container">
              <div class="indentation text-center">
                <a href="{% url 'admin/users' %}"><button>Админ</button></a>
              </div>
            </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="profile-header">

        <div>
          <div class="profile-image">
            <img src="{{ MEDIA_URL }}{{ profile_picture }}" alt="Profile Image" />
          </div>
          <div class="username-mobile-ver text-center">
            <h2>{{ nickname }}</h2>
          </div>
        </div>

        <div class="username-full-ver text-center">
          <h2>{{ nickname }}</h2>
        </div>

        <div class="profile-info items-center">
          <!-- <h2>{{ nickname }}</h2> -->
          <p>
            Участник с:<br /><span>{{ date_joined }}</span>
          </p>
          <p>
            Обший рейтинг:<br /><span>{{ total_rating }}</span>
          </p>
          <!-- <p>
            Food рейтинг:<br /><span>{{ food_rating }}</span>
          </p> -->
          <!-- <p>
            Travel рейтинг:<br /><span>{{ travel_rating }}</span>
          </p> -->
          <!-- <p>
            Creative рейтинг:<br /><span>{{ creative_rating }}</span>
          </p> -->
          <!-- <p>
            Technology рейтинг:<br /><span>{{ technology_rating }}</span>
          </p> -->
          <!-- <p>
            Sport рейтинг:<br /><span>{{ sport_rating }}</span>
          </p> -->
        </div>
      </div>
      <hr />
      <div class="profile-stats">
        <div class="stat">
          <h3>Интересы</h3>
          <p>2</p>
        </div>
        <div class="stat">
          <h3>Выполнено заданий</h3>
          <p>{{ completedTask_count }}</p>
        </div>
        <!-- <div class="stat">
          <h3>Интересы</h3>
          <p>2</p>
        </div> -->
        <div class="stat">
          <h3>Друзья</h3>
          <p>20</p>
        </div>
      </div>
      <div class="profile-interests">
        <h2>Интересы:</h2>
        <div class="interests-list">
          <div class="interest-box-shadow">
            <div class="interest-box-border">
              <div class="interest-box">
                <div class="image-container">
                  <img src="https://avatars.mds.yandex.net/i?id=743664af1475046ddf9fe5149eeee155_l-9065887-images-thumbs&n=13" alt="Technology" />
                </div>
                <div class="label">Технологии</div>
              </div>
            </div>
            <p class="p-rating">
              Рейтинг:<br /><span>{{ technology_rating }}</span>
            </p>
          </div>
          <div class="interest-box-shadow">
            <div class="interest-box-border">
              <div class="interest-box">
                <div class="image-container">
                  <img src="https://avatars.mds.yandex.net/i?id=73aa7bee9641f1d37382e5813e3841bf_l-4575585-images-thumbs&n=13" alt="Creative" />
                </div>
                <div class="label">Искусство</div>
              </div>
            </div>
            <p class="p-rating">
              Рейтинг:<br /><span>{{ creative_rating }}</span>
            </p>
          </div>
          <div class="interest-box-shadow">
            <div class="interest-box-border">
              <div class="interest-box">
                <div class="image-container">
                  <img src="https://avatars.mds.yandex.net/i?id=110c7b87efe45840e086b15e588bf5a8015a2964-9138191-images-thumbs&n=13" alt="Creative" />
                </div>
                <div class="label">Путешествия</div>
              </div>
            </div>
            <p class="p-rating">
              Рейтинг:<br /><span>{{ creative_rating }}</span>
            </p>
          </div>
          <div class="interest-box-shadow">
            <div class="interest-box-border">
              <div class="interest-box">
                <div class="image-container">
                  <img src="https://avatars.mds.yandex.net/i?id=bfb7c3961115b4fb0200f3e43d5287fd_l-4575978-images-thumbs&n=13" alt="Creative" />
                </div>
                <div class="label">Спорт</div>
              </div>
            </div>
            <p class="p-rating">
              Рейтинг:<br /><span>{{ creative_rating }}</span>
            </p>
          </div>
          <div class="interest-box-shadow">
            <div class="interest-box-border">
              <div class="interest-box">
                <div class="image-container">
                  <img src="https://cdn.culture.ru/images/44f9c8a1-a9c7-5da6-b7b7-cb57970aaf6c" alt="Creative" />
                </div>
                <div class="label">Еда</div>
              </div>
            </div>
            <p class="p-rating">
              Рейтинг:<br /><span>{{ creative_rating }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="events">
        <h2>Список выполненных заданий:</h2>
        <ul class="task-list">
          {% for completedTask in completedTasks %}
            <li class="task-item">
              Задание {{ completedTask.task.id }} - {{ completedTask.task.difficulty }}: {{ completedTask.task.description }}
              <span class="task-date">
                {% if completedTask.confirmed == 'No' and user.id == user_id%}
                  <a href="javascript:void(0);" onclick="openModal({{ completedTask.task.id }})" style="color: aqua;">Нажмите для подтверждения</a>
                {% elif completedTask.confirmed == 'Pending' and user.id == user_id %}
                  <span style="color: yellow; cursor: not-allowed;">На проверке</span>
                {% elif completedTask.confirmed == 'Yes' and user.id == user_id %}
                  <span style="color: green;">Подтверждено:</span>
                {% elif completedTask.confirmed == 'No' and user.id != user_id%}
                  <a style="color: rgba(0, 255, 255, 0.35); cursor: not-allowed;">Не подтверждено</a>
                {% elif completedTask.confirmed == 'Pending' and user.id != user_id %}
                  <span style="color: yellow; cursor: not-allowed;">На проверке</span>
                {% elif completedTask.confirmed == 'Yes' and user.id != user_id %}
                  <span style="color: rgba(0, 128, 0, 0.35);">Подтверждено:</span>
                {% else %}
                  <span style="color: rgba(109, 109, 109, 0.829); cursor: not-allowed;">Неизвестно. Обратитесь в тех.поддержку</span>
                {% endif %}
                  {% if completedTask.completed_when %}
                      {{ completedTask.completed_when }}
                  {% endif %}
                </span>
              </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="modal" id="confirmation-modal">
    <div class="overlay"></div>
    <div class="modal-window-shadow">
      <div class="modal-window-border">
        <div class="modal-window">
          <h3 class="modal-title">Подтвердите выполнение задания</h3>
          <form id="confirmation_form" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}" />
            <input type="hidden" name="task_id" value="" />

            <div class="upload-image">
              <label for="upload-image">Загрузите подтверждение:</label>
              <input type="file" name="confirmation" id="upload" required />
            </div>
            <div class="image-description">
              <label for="image-description">Добавьте описание:</label>
              <textarea name="description" id="description" placeholder="Напишите описание к подтверждению..." required></textarea>
            </div>
            <div class="modal-buttons">
              <button type="submit">Подтвердить</button>
              <button type="button" class="modal-close" id="cancel-modal-btn">Отмена</button>
            </div>
          </form>
          <div class="modal-window-close">
            <button class="btn-close" id="close-modal-btn">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function openModal(taskId) {
      const modal = document.getElementById('confirmation-modal')
      modal.classList.add('open')
    
      // Найти скрытое поле task_id в форме и установить его значение
      const taskIdInput = document.querySelector("#confirmation_form input[name='task_id']")
      taskIdInput.value = taskId
    }
    
    document.addEventListener('DOMContentLoaded', function () {
      const modal = document.getElementById('confirmation-modal')
      const closeModalButtons = document.querySelectorAll('.modal-window-close')
      const taskLinks = document.querySelectorAll('.task-date a')
    
      // Закрыть модальное окно (по кнопке "Отмена")
      document.getElementById('cancel-modal-btn').addEventListener('click', function () {
          modal.classList.remove('open');
      });

       // Закрыть модальное окно
      closeModalButtons.forEach((button) => {
        button.addEventListener('click', function () {
          modal.classList.remove('open')
        })
      })
    
      // Закрыть модальное окно (по клику вне области окна)
      modal.addEventListener('click', function (e) {
        if (e.target === modal) {
          modal.classList.remove('open')
        }
      })
    
      // Закрыть модальное окно (по нажатию Esc)
      document.addEventListener('keydown', function (e) {
        if (e.key === 'Escape' && modal.classList.contains('open')) {
          modal.classList.remove('open')
        }
      })
    })
    
    // Функция для получения CSRF токена
    function getCookie(name) {
      let cookieValue = null
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';')
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim()
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
            break
          }
        }
      }
      return cookieValue
    }
    
    const csrftoken = getCookie('csrftoken') // Получаем CSRF токен
    
    document.getElementById('confirmation_form').addEventListener('submit', function (event) {
      event.preventDefault() // Предотвращаем стандартное поведение формы
    
      const modal = document.getElementById('confirmation-modal')
      const form = event.target
      const formData = new FormData(form) // Создаем объект FormData из формы
    
      const baseUrl = window.location.origin
      const changeUrl = "{% url 'confirmation_task' user.id %}"
      const url = new URL(changeUrl, baseUrl)
    
      fetch(url, {
        method: 'POST',
        headers: {
          'X-CSRFToken': csrftoken // Добавляем CSRF токен в заголовки
        },
        body: formData // Передаем FormData как тело запроса
      })
        .then((response) => {
          if (!response.ok) {
            // Проверяем, что запрос успешен
            return response.json().then((errorData) => {
              return Promise.reject(new Error(errorData.message))
            })
          }
          return response.json() // Парсим успешный ответ
        })
        .then((data) => {
          alert('Подтверждение успешно отправлено!')
          modal.classList.remove('active') // Закрываем модальное окно
          window.location.reload() // Перезагружаем страницу
        })
        .catch((error) => {
          alert('Ошибка отправки подтверждения: ' + error.message)
        })
    })
  </script>
{% endblock %}
