{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Profile</title>
</head>

<body>
    <header class="conteiner">
        <div class="logo">
            <a href="main.html"> AFK</a>
        </div>
        <div class="navbar">
            <a href="{% url 'main' %}">Home</a>
            <a href="{% url 'events' %}">Events</a>
            <a href="#">Top</a>
            <a href="{% url 'profile' %}">Other</a>
        </div>
        <div class="login">
            <a href="{% if user.is_authenticated %}{% url 'profile' user.id %}{% else %}{% url "login" %}{% endif %}"> Sign in </a>
        </div>
    </header>
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-image">
                <img src="https://sh22-vologda-r19.gosweb.gosuslugi.ru/netcat_files/8/148/net_foto.jpg"
                    alt="Profile Image">
            </div>
            <div class="profile-info">
                <h2>{{ profile.nickname }}</h2>
                <p>Email: <a href="mailto:user@example.com">user@example.com</a></p>
                <p>Joined: <span>2022-01-01</span></p>
            </div>
        {% if user.id == profile.user_id %}
            <div class="logout">
                <a href="{% url 'logout' user.id %}">
                    <button>Выйти</button>
                </a>
            </div>
        {% endif %}
        </div>
        <div class="profile-stats">
            <div class="stat">
                <h3>Events Participated</h3>
                <p>10</p>
            </div>
            <div class="stat">
                <h3>Interests</h3>
                <p>5</p>
            </div>
            <div class="stat">
                <h3>Friends</h3>
                <p>20</p>
            </div>
        </div>
        <div class="profile-interests">
            <h2>Interests</h2>
            <div class="interests-list">
                <div class="interest-box">
                    <div class="image-container">
                        <img src="https://avatars.mds.yandex.net/i?id=bfb7c3961115b4fb0200f3e43d5287fd_l-4575978-images-thumbs&n=13"
                            alt="Sport">
                    </div>
                    <div class="label">Sport</div>
                </div>
                <div class="interest-box">
                    <div class="image-container">
                        <img src="https://avatars.mds.yandex.net/i?id=73aa7bee9641f1d37382e5813e3841bf_l-4575585-images-thumbs&n=13"
                            alt="Creative">
                    </div>
                    <div class="label">Creative</div>
                </div>

            </div>
        </div>
    </div>

    <div
        class="-z-10 pointer-events-none absolute inset-0 bg-center bg-grid-white/10 bg-grid-16 [mask-image:radial-gradient(white,transparent_85%)]">
    </div>
    <div
        class="-z-10 absolute -top-8 left-1/2 size-72 -translate-x-1/2 rounded-full bg-indigo-500/25 blur-[120px] lg:-top-8 lg:size-[32rem] lg:blur-[200px]">
    </div>
    <div class="background"></div>
</body>

</html>