{% extends 'base.html' %}
{% load static %}

{% block title %}Top{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/top.css' %}">
{% endblock %}
{% block content %}

<article class="container">

    <section>
        <div class="title text-center">Рейтинг</div>
        <div class="tabs">
            <div class="tab active" data-target="overall-rating">Общий</div>
            <div class="tab" data-target="category-rating">По категориям</div>
        </div>   
    </section>
    
    <section id="overall-rating" class="tab-content active">
        <div class="top-3-places flex flex-wrap items-end">
            <!-- Второе место -->
            {% if top2 %}
            <div class="flip-container" style="animation: glow-silver 3.5s infinite;">
                <div class="flip-card-inner">
                    <!-- Передняя сторона -->
                    <div class="front-side second-place pixeled-frame text-center">
                        <div class="pixeled-frame" style="background-color: #9395ad; padding: 0.2rem;">
                            <img class="pixeled-frame" src="{{ MEDIA_URL }}{{ top2.profile_picture }}" alt="Аватар профиля пользователя">
                        </div>
                        <p class="mt-2">{{top2.nickname}}</p>
                    </div>
                    <!-- Задняя сторона -->
                    <div class="back-side second-place pixeled-frame text-center">
                        <p class="subtitle">Информация<br>о пользователе</p>
                        <ul class="list-outside">
                            <li>Рейтинг:<br>- {{ top2.total_rating }} -</li>
                            <li>Заданий выполенено:<br>- {{ top2.completed_tasks_count }} -</li>
                            <li>Любимая категория:<br>- {{ top2.top_category }} -</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if top1 %}
            <!-- Первое место -->
            <div class="flip-container" style="animation: glow-gold 3.5s infinite;">
                <div class="flip-card-inner">
                    <!-- Передняя сторона -->
                    <div class="front-side first-place pixeled-frame text-center">
                        <div class="pixeled-frame" style="background-color: #bda962; padding: 0.2rem;">
                            <img class="pixeled-frame" src="{{ MEDIA_URL }}{{ top1.profile_picture }}" alt="Аватар профиля пользователя">
                        </div>
                        <p class="mt-2">{{top1.nickname}}</p>
                    </div>
                    <!-- Задняя сторона -->
                    <div class="back-side first-place pixeled-frame text-center">
                        <p class="subtitle">Информация<br>о пользователе</p>
                        <ul class="list-outside">
                            <li>Рейтинг:<br>- {{ top1.total_rating }} -</li>
                            <li>Заданий выполенено:<br>- {{ top1.completed_tasks_count }} -</li>
                            <li>Любимая категория:<br>- {{ top1.top_category }} -</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if top3 %}
            <!-- Третье место -->
            <div class="flip-container" style="animation: glow-bronze 3.5s infinite;">
                <div class="flip-card-inner">
                    <!-- Передняя сторона -->
                    <div class="front-side third-place pixeled-frame text-center">
                        <div class="pixeled-frame" style="background-color: #885a45; padding: 0.2rem;">
                            <img class="pixeled-frame" src="{{ MEDIA_URL }}{{ top3.profile_picture }}" alt="Аватар профиля пользователя">
                        </div>
                        <p class="mt-2">{{top3.nickname}}</p>
                    </div>
                    <!-- Задняя сторона -->
                    <div class="back-side third-place pixeled-frame text-center">
                        <p class="subtitle">Информация<br>о пользователе</p>
                        <ul class="list-outside">
                            <li>Рейтинг:<br>- {{ top3.total_rating }} -</li>
                            <li>Заданий выполенено:<br>- {{ top3.completed_tasks_count }} -</li>
                            <li>Любимая категория:<br>- {{ top3.top_category }} -</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        {% if other_users %}
        <div class="table-shadow relative overflow-x-auto">
            <table class="w-full text-center pixeled-frame">
                <thead>
                    <tr class="dark:text-white">
                        <th scope="col" class="px-6 py-3">
                            Место
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Пользователь
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for other_user in other_users %}
                        <tr class="border-b">
                            <td class="px-6 py-4 dark:text-white">{{ forloop.counter|add:3 }}</td>
                            <td class="px-6 py-4 dark:text-white">{{ other_user.nickname }} | Рейтинг: {{ other_user.total_rating }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>                
        </div>
        {% endif %}
    </section>

    
    <section id="category-rating" class="tab-content">
        <div class="table-shadow relative overflow-x-auto">
            <table class="w-full text-center pixeled-frame">
                <thead>
                    <tr class="dark:text-white">
                        <th scope="col" class="px-6 py-3">
                            Категория
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Пользователь
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b dark:border-gray-700">
                        <td class="px-6 py-4 dark:text-white">Спорт</td>
                        <td class="px-6 py-4 dark:text-white">{{ best_sport.nickname }} | Рейтинг: {{ best_sport.sport_rating }}</td>
                    </tr>
                    <tr class="border-b dark:border-gray-700">
                        <td class="px-6 py-4 dark:text-white">Искусство</td>
                        <td class="px-6 py-4 dark:text-white">{{ best_creative.nickname }} | Рейтинг: {{ best_creative.creative_rating }}</td>
                    </tr>
                    <tr class="border-b dark:border-gray-700">
                        <td class="px-6 py-4 dark:text-white">Технологии</td>
                        <td class="px-6 py-4 dark:text-white">{{ best_technology.nickname }} | Рейтинг: {{ best_technology.technology_rating }}</td>
                    </tr> 
                    <tr class="border-b dark:border-gray-700">
                        <td class="px-6 py-4 dark:text-white">Путешествия</td>
                        <td class="px-6 py-4 dark:text-white">{{ best_travel.nickname }} | Рейтинг: {{ best_travel.travel_rating }}</td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 dark:text-white">Еда</td>
                        <td class="px-6 py-4 dark:text-white">{{ best_food.nickname }} | Рейтинг: {{ best_food.food_rating }}</td>
                    </tr>
                </tbody>
            </table>                
        </div>
    </section>
</article>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const tabs = document.querySelectorAll('.tab');
        const tabContents = document.querySelectorAll('.tab-content');
        
        tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                tabs.forEach(t => t.classList.remove('active'));
                tabContents.forEach(content => content.classList.remove('active'));
                
                tab.classList.add('active');
                document.getElementById(tab.dataset.target).classList.add('active');
            });
        });
    });
</script>

{% endblock %}
